body {
    font-family: Arial, sans-serif;
}

header {
    background: url('../img/pexels-stywo-1054218.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    
   }

   header .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    box-shadow: 0px 9px 45px -18px rgba(0, 0, 0, 0.400);
   }

   header .container {
    z-index: 2;
   }


#sobre img {
    border: 5px solid #fff;
}

.redes{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: flex-start;
    list-style: none;
    padding-left: 0px;
}

.redes>li{
    transition: transform 0.3s;
}

.redes > li:hover{
    transform: scale(1.25);
}

#projetos .card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.247);
    transition: transform 0.3s;
}

#projetos .card:hover {
    transform: scale(1.05);
    box-shadow: 0px 9px 5px 5px rgba(0, 0, 0, 0.295);
}

#contato .form-control {
    margin-bottom: 1rem;
}

   